.bodyContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
a {
	background-color: var(--secondary);
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: 300;
	padding: 10px;
	border-radius: 8px;
	font-size: 1.2rem;
	width: 150px;
}