/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5,h6,p,label {
	margin: 0;
}

.container {
	height: 100vh;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

:root {
	--primary: #002DA0;
	--secondary: #ff7800;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}